.registrationModal .modal-body {
  padding: 15px;
}

.registrationModal .row {
  padding: 0;
  margin: 0;
}

#logInModal.registrationModal .modal-dialog {
  width: 300px;
  /*padding-top: 12%;*/
}

#signUpModal.registrationModal .modal-dialog {
  width: 300px;
  /*padding-top: 6%;*/
}

.registrationModal .modal-content {
  border-radius: 0px;
  background-color: #212121;
}

.registrationModal .loginSocial {
  display:inline-block;
  border-radius: 0px;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  font-size: 15px;
  font-weight: lighter;
  color: #ffffff;
  /*margin-left: 20px;*/
  padding: 7px 15px;
  font-family: inherit;
}

.registrationModal .loginSocial .fa {
  margin-right: 18px;
}

.registrationModal .loginSocial .fa.fa-google-plus {
  margin-right: 10px;
}

.registrationModal .loginSocial, .registrationModal .loginSocial:hover, .registrationModal .loginSocial:focus, .registrationModal .loginSocial:active, .registrationModal .loginSocial:visited {
  text-decoration: none;
  text-transform: uppercase;
}

.registrationModal .facebook, .registrationModal .facebook:hover, .registrationModal .facebook:focus, .registrationModal .facebook:active, .registrationModal .facebook:visited {
  color: #ffffff;
  background-color: #3B589C;
}

.registrationModal .google, .registrationModal .google:hover, .registrationModal .google:focus, .registrationModal .google:active, .registrationModal .google:visited {
  background-color: #ffffff;
  color: #55a018;
}

.registrationModal  .row > #orText {
  width: 100%; 
  text-align:center; 
  border-bottom: 1px solid #ffffff; 
  line-height:0.1em; 
  margin-top: 20px;
} 

.registrationModal  .row > #orText span { 
  background-color: #212121; 
  color: #ffffff; 
  text-transform: uppercase;
  padding:0 10px; 
}

.registrationModal .mail {
  text-transform: uppercase;
  padding: 10px 15px 0px;
  font-size: 15px;
  color: #ffffff;
  font-weight: lighter;
}

.registrationModal .mail .fa {
  margin-right: 5px;
}

.registrationModal .input-group, .registrationModal .input-group *, .registrationModal .input-group *:hover, .registrationModal .input-group *:active, .registrationModal .input-group *:focus {
  height: 42px;
  border-radius: 0px;
  background-color: #ffffff;
  border: none;
  outline: none;
  box-shadow: none;
}

.registrationModal .mrgntp15 {
  margin-top: 15px !important;
}

.registrationModal .input-group-addon {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #55a018;
}

.registrationModal .input-group-addon .fa {
  font-size: 20px;
  padding-top: 12px;
}

.registrationModal form .col-md-6, .inputCheck {
  padding: 0px;
  margin: 10px 0;
  color: #ffffff;
}

.registrationModal form .col-md-6 a, 
.registrationModal form .col-md-6 a:hover, 
.registrationModal form .col-md-6 a:focus, 
.registrationModal form .col-md-6 a:active,
.inputCheck a,
.inputCheck a:hover,
.inputCheck a:focus,
.inputCheck a:active {
  text-decoration: none;
  color: #C2185b;
}

.registrationModal .logInSubmit {
  background-color: #e91e63;
  color: #ffffff;
  width: 100%;
  border: 0px;
  border-radius: 0px;
  font-size: 17px;
  padding: 7px 15px
}

.registrationModal .signUpLink {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 0px;
}

.registrationModal .signUpLink a, .registrationModal .signUpLink a:hover {
  color: #c2185b;
  font-size: 14px;
  text-decoration: none;
  text-transform: none;
  font-weight: 400;
}

.modal {
  z-index: 9999;
}

.registrationModal .modal-dialog {
  width: 25%;
}